.post {
    background: var(--surface-card);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.post__header {
    padding: 1rem;
    display: flex;
    align-items: center;
}
.post__content {}
    .content__caption {
        padding: 0.5rem 1rem;
    }
    .content__pictures {}
.post__footer {
    padding: 0.5rem 1rem;
}